  @media screen and (min-width: 250px) and (max-width: 680px) {
    nav {
      width: 120px;
      background-color: var(--bg-about);
    }
  
    nav a {
      padding: 13px;
      font-size: 20px;
    }

    .container-about {
      margin-top: 70px;
      margin-left: 25px;
      
    }
    h1 {
      font-size: 20px;
      margin: 15px;
      margin-left: 90px;
    }
    h2 {
      font-size: 30px;
      
    }
    h3 {
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
    
    .my-img {
      width: 80%;
      margin: 0 auto;
    }
    p{
      font-size: 21px;
      margin: 10px;
    }
    .container-about-me {
      margin-top: 10px;
      margin-left: 120px;
    }
    .container-name-img{
        margin: auto;
        margin-left: 90px;
        margin-bottom: 10px;
    }
    #skills {
      font-size: 30px;
      margin-top: 20px;
      text-align: center;
    }
    section {
      display: none;
      transition: height 0.5s;
    }
    section.active {
      height: auto;
    }
    .container-skills {
      width:40%;
      margin-left: 160px;
    }
    .logo-skills {
      margin-left: 30px;
      margin-top: 30px;
      border-radius: 12px;
    }
    .logo {
      height: 60px;
      width: 60px;
      display: block;
      margin: 20px;
      transition: all 0.2s ease;
      border-radius: 10%;
    }
    .logo:hover {
      transform: scale(1.2);
    }
    .logo-skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin-right: 10px;
}
.progress-bar {
  width: 80px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
  position: relative;
}
.progress {
  height: 100%;
  background-color: #4caf50;
}
.progress-value {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
}
.container-project {
  margin-top: 70px;
  text-align: center;
  margin-left: 100px;
}
.img-project {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image {
  max-width: 200px;
  margin: 20px;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
}
.image:hover {
  transform: scale(1.1);
}
#section3 {
  margin-top: 150px;
  text-align: center;
  margin-left: 100px;
}
.text-contact {
  font-size: 40px;
}
.text-contact-title {
  font-size: 25px;
}
.item-1 {
  display: flex;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.form-col {
  width: 40%;
  margin: auto;
  padding: 5px;
}
.form-col input[type="text"],
.form-col input[type="email"],
.form-col textarea {
  width: 100%;
  padding: 1px;
  margin-bottom: 5px;
}

label {
  font-size: 20px;
}
.btn-submit {
  background-color: rgb(23, 104, 23);
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.redes-1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 20px;
}
.item,
.item-color,
a {
  margin: 5px;
  border-radius: 10px;
}
.item:hover {
  transform: scale(1.3);
  background-color: rgb(197, 64, 16);
}
  }
