 @media screen and (max-width: 500px){
  nav {
   width: 120px;
 }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  
  nav a {

    text-decoration: none;
    padding: 20px;
    font-size: 12px;
    transition: font-size 0.2s;
  }
  .item-nav {
    margin-left: 10px;
  }
  
  .separator {
    border-bottom: 1px solid rgb(47, 47, 47);
    width: 90%;
    margin: -5px 0;
  }
  .ban {
    width: 55px;
    display: block;
  }
  .mover {
    margin-bottom: 750px;
    position: absolute;
  }

  /**************************fin nav*************************************/

 }